.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  &--medium {
    max-width: 975px;
  }

  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

}
